.todo{
    margin: 0 auto;
    position: relative;
   border: 2px solid #EEE;
   max-width: 1200px;
   flex-basis: 100%;
   flex-direction: column;
   word-break: break-all;

}
.buttons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.Tasks{
    display: flex;
    flex-direction: column;
    display: inline-flex;
}
.input{
    text-align: center;
    input{
        
    }
}