
.Header{
    display: flex;
    margin: 0px auto 5px;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    flex-direction: row;
    background-color: var(--backgroundColor2);
    .item{
      
    }
   .clock{
        font-size: 22px;
        text-shadow: 0 0 5px var(--MainColor1);
   }
   .btn{
       background: #000;
       border-radius: 100%;
       border: 0;
       width: 30px;
       height: 30px;
       text-align: center;
       box-shadow: 0 0 10px var(--textColor);
       &:hover{
        box-shadow: 0 0 5px var(--textColor), 0 0 10px var(--textColor), 0 0 10px var(--textColor);
      }
   }
  
}
.menu{
  z-index: 1;
    ul {
       
        list-style: none;
        margin: 0;
        padding-left: 0;
      }
      
      li {

        display: block;
        float: left;
        padding: 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
      }
        
      li a {
        color: var(--textColor);
      }
      
      li:hover,
      li:focus-within {
        background-color: var(--backgroundColor2);
      }
      
      li:focus-within a {
        outline: none;
      }
      
      ul li ul {
        
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
      }
      
      ul li:hover > ul,
      ul li:focus-within > ul,
      ul li ul:hover,
      ul li ul:focus {
         visibility: visible;
         opacity: 1;
         display: block;
      }
      
      ul li ul li {
        clear: both;
        width: 100%;
      }
}

