$darkBackground: #141414;



.dark{
    color: white;
    --textColor: var(--textColor);
    --backgroundColor1: rgb(62,0,105);
    --backgroundColor2: radial-gradient(circle, rgba(62,0,105,1) 0%, rgba(0,0,0,1) 100%); 
    background: rgb(62,0,105);
    background: radial-gradient(circle, rgba(62,0,105,1) 0%, rgba(0,0,0,1) 100%);
}
.light{
    --textColor: black;
    --backgroundColor1: rgb(255,255,255); 
    --backgroundColor2: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,189,255,1) 100%); 
    color: var(--textColor);
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(228,189,255,1) 100%); 
 }
.app{
    overflow-wrap: break-word;
    min-height: 100vh;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template: fit-content(30px) / 1fr;

}
